.section {
    padding-top: 1rem;
}

.contacts__container {
    display: flex;
    align-content: center;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.875rem;
}

.contacts__item {
    font-size: var(--small-font-size);
}


@media screen and (max-width: 768px) {
    .section {
        padding-top: 0;
    }
}

@media screen and (max-width: 350px) {
    .contacts__item {
        font-size: 0.6rem;
    }
}