.home {
  width: 100vw;
  height: 100vh;
  background-color: var(--background-primary);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
}

.home__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 50vw;
}

.home__description {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  height: auto;
  width: 50vw;
  font-family: var(--font-primary);
  font-weight: var(--font-bold);
}

.home__header {
  color: var(--color-white);
  font-size: var(--large-font);
}

.home__title {
  color: var(--color-white);
  font-size: var(--title-font);
}

.home__divider {
  height: 3px;
  width: 297px;
  background-color: var(--color-white);
  margin: 40px 0px;
}
