.popup {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  font-family: var(--font-primary);
  font-weight: var(--font-bold);
}

.popup__title {
  font-size: var(--larger-font);
  color: var(--color-white);
}

.popup__desc {
  font-size: var(--desc-font);
  color: var(--color-white);
}

.popup__link {
  color: var(--color-yellow);
  text-decoration: underline;
}

/* Shooty Girl */

.shooty__desc_container {
  display: flex;
  flex-direction: column;
  width: 50%;
  row-gap: 20px;
}

.shooty__demo_container {
  width: 50%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.shooty__demo {
  width: 90%;
}

.shooty__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

/* PopSign */

.popsign__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.popsign__desc_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  padding-top: 5vh;
  row-gap: 20px;
}

.popsign__demo {
  width: 560px;
  height: 315px;
}

/* Responsive */

@media screen and (max-width: 1400px) {
  .popsign__demo {
    width: 400px;
    height: 225px;
  }
}

@media screen and (max-width: 896px) {
  .shooty__content {
    flex-direction: column;
    justify-content: center;
    row-gap: 35px;
  }

  .shooty__demo_container {
    width: 100%;
    justify-content: center;
  }

  .shooty__desc_container {
    width: 100%;
    row-gap: 10px;
  }

  .popsign__demo {
    width: 320px;
    height: 180px;
  }
}

@media screen and (max-width: 596px) {
  .shooty__demo {
    width: 100%;
  }
}
